<div class="dlabnav" >
    <hr>
    <div class="dlabnav-scroll" style="margin-top: 10px;">	
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="material-symbols-outlined">home</i>
                    <span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="dashboard">Dashboard </a></li>
                    </ul>

            </li>
            <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                <i class="material-symbols-outlined">trending_up</i>
                <span class="nav-text">Income</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="income"> income info</a></li>
                </ul>

        </li>
        <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
            <i class="material-symbols-outlined">trending_down</i>
            <span class="nav-text">Expense</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="expanse"> Expense info</a></li>
            </ul>

    </li>
   
                 
        </ul>
        
    </div>
</div>